	/*root(1).css*/
@font-face{
	font-family: "Gilroy";
	src: url('../font/Gilroy-medium.ttf');
}
*{
	font-family: "Gilroy";
}
div.modal-cont{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;left: 0;
	display: flex;
	justify-content: center !important;
	align-items: flex-start;
	background: rgba(0,0,0,.1);
	backdrop-filter: blur(2px);
	z-index: 1000;
}
div.modal-bx{
	margin-top: 50px;
	width: 50% ;
	min-height: 40%;
	padding: 10px;
	display: flex;
	justify-content: center;
	background: rgba(130,130,130,.7);
	border-radius: 5px;
	position: fixed;
	z-index: 55555;
	backdrop-filter:blur(3px);
	opacity: 0;
}
form.form{
	width: 90%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.form-group{
	width: 100%;
	margin-bottom: 20px;
}
.label{
	font-family: Gilroy, "Helvetica Neue", Helvetica, sans-serif;
	margin: 10px 0 10px 0;
	font-size: 20px;
}
option{
	color: rgba(0,0,0,.7)
}
select{
	color: rgba(23,30,30,1)
}
.close-modal{
	position: absolute;
	top: 0;
	left: calc(100% - 35px);
	padding: 0;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	opacity: .95;
	transition:background 100ms;
	cursor: pointer;
	border-top-right-radius: 5px;
	border: 1px solid rgba(255,20,30,.2);
}
.close-modal::selection{
	background: transparent;
}
.close-modal:hover{
	opacity: 1;
	background: rgba(255,20,30,.2);
}
.close-modal:active{
	padding-top: 2px;
	transform: scale(.95,.95);
}
.close-modal:focus{
	background: rgba(255,0,0,.8);
	color: rgba(255,255,255,.7);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	outline: 0.15rem solid rgba(28, 110, 164, .50);
	border: none;

}
@media screen and (max-width: 834px) and (min-width: 560px){
	.form{
		display: block !important; 
	}
	.form-group{
		width: 100%;
	}
	.modal-bx{
		width: 80% !important;
	}
}
@media screen and (max-width: 559px){
	.form-grup{
		border:1px solid red;
	}
	.form{
		display: block !important; 
	}
	.form-group{
		width: 100%;
	}
	.modal-bx{
		width: 100% !important
	}
	.row > div {
		margin-bottom: 15px
	}
} 
